body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1000px;
}
form label {
	height: 20px;
	margin: 50px;
	color: darkblue;
	font-size: 20px;
}
input {
	margin: 10px;
}
.results {
	width: 610px;
}
.results th {
	font-size: 36px;
	width: 50%;
}
.results td {
	font-size: 108px;
	font-weight: bold;
	width: 300px;
	text-align: right;
}
.results_title {
	background: tan;
	width: 610px;
	text-align: center;
	margin-left: 60px;
}
#pickdate {
	display: none;
	font-size: 20px;
}

.results td {
	transition: all 1s ease;
}
#bar {
	display: block;
	height: 10px;
	background: cyan;
	max-width: 610px;
	margin-bottom: 10px;
	margin-left: 224px;
	align-self: flex-start;
}
.fa-spinner {font-size:24px}

others {
	background: wheat;
	width: 610px;
	display: flex;
	justify-content: space-around;
}
others > div {
	font-size: 24px
}
others span {
	margin-left: 10px;
}
.results_title > span {
	width: 70px;
	text-align: center;
	font-weight: normal;
	color: green;
}