body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form label {
	height: 20px;
	margin: 50px;
	color: darkblue;
	font-size: 20px;
}
input {
	margin: 10px;
}
.results th {
	font-size: 54px;
	width: 50%;
}
.results td {
	font-size: 136px;
	font-weight: bold;
	width: 300px;
	text-align: right;
}
.results_title {
	background: tan;
	width: 610px;
	text-align: center;
	margin-left: 60px;
}
#pickdate {
	display: none;
	font-size: 20px;
}

.results td {
	transition: all 1s ease;
}
#bar {
	display: block;
	height: 10px;
	background: cyan;
	max-width: 50%;
	margin-bottom: 10px;
}
.fa-spinner {font-size:24px}

